@{
    ViewData["Title"] = "Главная";
}

<div class="container-fluid cont_wide">
    <img class="wideImg" src="~/img/IMG_8719.jpg" />
</div>

<hr class="my-lg-5 my-md-4  line">

<div class="container-fluid cont_wide">
    <section class="jumbotron text-center bg-white">
        <div class="container">
            <h6 class="jumbotron-heading">Привет, меня зовут Евгения, но ты можешь позвать меня выпить!</h6>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non lacus quis massa posuere tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; </p>
        </div>
    </section>
</div>

<hr class="my-lg-5 my-md-4  line">

<div class="container">

    <div>
        <a href="@Url.Action("redirect", "Home")"> <img  class="inst_logo" src="~/img/Instagram_logo.svg" /></a>
    </div>

    <div class="row block_img">
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/1.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/2.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/3.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/4.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/5.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/6.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/7.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/8.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/9.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/10.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/11.png" />
            </a>
        </div>
        <div class="col-4">
            <a href="@Url.Action("redirect", "Home")">
                <img src="~/img/inst_ph/12.png" />
            </a>
        </div>
    </div>


</div>

<hr class="my-lg-5 my-md-4 line">

<div class="container-fluid cont_wide">
    <img class="wideImg_sm" src="~/img/IMG_8719_1.jpg" />
</div>

<div class="container" style="padding-top: 15px">
    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non lacus quis massa posuere tincidunt.
    </p>
</div>





